@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-OJTMfrs_uzIK: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-solid-default-border-color: var(
    --token-OJTMfrs_uzIK
  );
  --token-RAEaVlSDLo2N: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-solid-default-background-color: var(
    --token-RAEaVlSDLo2N
  );
  --token-waXH8OhPCbJH: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-default-text-color: var(
    --token-waXH8OhPCbJH
  );
  --token-neGVZDL2yKLj: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-default-icon-color: var(
    --token-neGVZDL2yKLj
  );
  --token-nx2vHEaObmqe: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-solid-hover-border-color: var(
    --token-nx2vHEaObmqe
  );
  --token-nnq5zV-L7KWS: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-solid-hover-background-color: var(
    --token-nnq5zV-L7KWS
  );
  --token-KS7RAawkST-q: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-hover-text-color: var(--token-KS7RAawkST-q);
  --token-Rd17MJzezdQR: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-hover-icon-color: var(--token-Rd17MJzezdQR);
  --token-t77TW3D3f7kX: var(--token-I65TQQy0p8j6);
  --plasmic-token-button-base-solid-active-border-color: var(
    --token-t77TW3D3f7kX
  );
  --token-PbUupZiJyJIH: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-solid-active-background-color: var(
    --token-PbUupZiJyJIH
  );
  --token-6FieQd9IYUXG: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-active-text-color: var(
    --token-6FieQd9IYUXG
  );
  --token-AUfop5DwU88k: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-active-icon-color: var(
    --token-AUfop5DwU88k
  );
  --token-Pj3XWLKOA4gh: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-solid-focus-border-color: var(
    --token-Pj3XWLKOA4gh
  );
  --token-UH_gC1jlOa2V: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-solid-focus-background-color: var(
    --token-UH_gC1jlOa2V
  );
  --token-9rO84jI2c04u: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-focus-text-color: var(--token-9rO84jI2c04u);
  --token-68vlr6odwU1S: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-solid-focus-icon-color: var(--token-68vlr6odwU1S);
  --token-FPFSICFMlHjI: var(--token-viXIfeAkcdVe);
  --plasmic-token-button-secondary-solid-default-border-color: var(
    --token-FPFSICFMlHjI
  );
  --token-VckWhZ_JjQrg: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-default-text-color: var(
    --token-VckWhZ_JjQrg
  );
  --token-XyqRmjS9Y5t3: var(--token-viXIfeAkcdVe);
  --plasmic-token-button-secondary-solid-default-background-color: var(
    --token-XyqRmjS9Y5t3
  );
  --token-VwVBhG29J4DK: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-default-icon-color: var(
    --token-VwVBhG29J4DK
  );
  --token-4Qa1M7ycd2KM: var(--token-4SDKFzaLGDqM);
  --plasmic-token-button-secondary-solid-hover-border-color: var(
    --token-4Qa1M7ycd2KM
  );
  --token-ydMYHBYmiQZw: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-hover-text-color: var(
    --token-ydMYHBYmiQZw
  );
  --token-hl1VuQjBDyQE: var(--token-4SDKFzaLGDqM);
  --plasmic-token-button-secondary-solid-hover-background-color: var(
    --token-hl1VuQjBDyQE
  );
  --token-hgJPdAsMKBT0: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-hover-icon-color: var(
    --token-hgJPdAsMKBT0
  );
  --token-HKmt4llP6_hM: var(--token-i70UBQLNtCOB);
  --plasmic-token-button-secondary-solid-active-border-color: var(
    --token-HKmt4llP6_hM
  );
  --token-66GdP6AEVIF3: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-active-text-color: var(
    --token-66GdP6AEVIF3
  );
  --token-VfLoQrjErijf: var(--token-viXIfeAkcdVe);
  --plasmic-token-button-secondary-solid-active-background-color: var(
    --token-VfLoQrjErijf
  );
  --token-1Vei57r2eMzD: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-active-icon-color: var(
    --token-1Vei57r2eMzD
  );
  --token-XjRkxCmbn-2a: var(--token-4hshm6OItBjN);
  --plasmic-token-button-secondary-solid-focus-border-color: var(
    --token-XjRkxCmbn-2a
  );
  --token-0uQ4HAK57PR0: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-secondary-solid-focus-text-color: var(
    --token-0uQ4HAK57PR0
  );
  --token-tbb9ztErmL9Z: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-secondary-solid-focus-background-color: var(
    --token-tbb9ztErmL9Z
  );
  --token-HrAWDgpzvSKN: var(--token-4hshm6OItBjN);
  --plasmic-token-button-secondary-solid-focus-icon-color: var(
    --token-HrAWDgpzvSKN
  );
  --token-chDlUDQOsDN0: Roboto;
  --plasmic-token-button-label: var(--token-chDlUDQOsDN0);
  --token-DoJoJ_WYK15e: var(--token-KqR_M-7twSBJ);
  --plasmic-token-list-item-text-color: var(--token-DoJoJ_WYK15e);
  --token-vnwhZ2mCjpPd: Roboto;
  --plasmic-token-list-item-default-label: var(--token-vnwhZ2mCjpPd);
  --token-jolt9qD8cf1I: var(--token-8WmgDiHdU4mv);
  --plasmic-token-toggle-unselected-track-background-color: var(
    --token-jolt9qD8cf1I
  );
  --token-d3QdL-wrQM4N: var(--token-8WmgDiHdU4mv);
  --plasmic-token-toggle-unselected-track-border-color: var(
    --token-d3QdL-wrQM4N
  );
  --token-GgGjp1s7MK2m: var(--token-rUbmtdpANnYJ);
  --plasmic-token-toggle-unselected-handle-background-color: var(
    --token-GgGjp1s7MK2m
  );
  --token-2zCAChGVkd7f: var(--token-k3xLqgWid9RU);
  --plasmic-token-toggle-selected-track-background-color: var(
    --token-2zCAChGVkd7f
  );
  --token-_dcnfbIZ-951: var(--token-k3xLqgWid9RU);
  --plasmic-token-toggle-selected-track-border-color: var(--token-_dcnfbIZ-951);
  --token-GLuTfnrFMSDm: var(--token-rUbmtdpANnYJ);
  --plasmic-token-toggle-selected-handle-background-color: var(
    --token-GLuTfnrFMSDm
  );
  --token-RWu4v6tuaWCD: var(--token-rUbmtdpANnYJ);
  --plasmic-token-toggle-selected-handle-border-color: var(
    --token-RWu4v6tuaWCD
  );
  --token-_EOVKQ-bYJ5t: var(--token-rUbmtdpANnYJ);
  --plasmic-token-toggle-unselected-handle-border-color: var(
    --token-_EOVKQ-bYJ5t
  );
  --token-A-2PVC28xCvl: var(--token-XPrLd8jgs4iF);
  --plasmic-token-button-primary-solid-active-background-color: var(
    --token-A-2PVC28xCvl
  );
  --token-q033a836MCwy: var(--token-GVbJH5wGUXmu);
  --plasmic-token-button-primary-solid-active-border-color: var(
    --token-q033a836MCwy
  );
  --token-qKZGS4TOP-w7: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-active-icon-color: var(
    --token-qKZGS4TOP-w7
  );
  --token-TKx-BmDHbyRO: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-active-text-color: var(
    --token-TKx-BmDHbyRO
  );
  --token-e3VirQZhsI9_: var(--token-cp7pTejnZKUd);
  --plasmic-token-button-primary-solid-default-background-color: var(
    --token-e3VirQZhsI9_
  );
  --token-YH4c9XORkzPq: var(--token-cp7pTejnZKUd);
  --plasmic-token-button-primary-solid-default-border-color: var(
    --token-YH4c9XORkzPq
  );
  --token-sEv6k3rNdJlb: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-default-icon-color: var(
    --token-sEv6k3rNdJlb
  );
  --token-GbiYE4Xe6t4f: var(--token-cp7pTejnZKUd);
  --plasmic-token-button-primary-solid-focus-background-color: var(
    --token-GbiYE4Xe6t4f
  );
  --token-4TdeHDRK4BhA: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-hover-text-color: var(
    --token-4TdeHDRK4BhA
  );
  --token-VKCCv1zmWRIm: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-hover-icon-color: var(
    --token-VKCCv1zmWRIm
  );
  --token-2zao5Frt1FVz: var(--token-4hshm6OItBjN);
  --plasmic-token-button-primary-solid-hover-border-color: var(
    --token-2zao5Frt1FVz
  );
  --token-T5tM3xVI_5lL: var(--token-XPrLd8jgs4iF);
  --plasmic-token-button-primary-solid-hover-background-color: var(
    --token-T5tM3xVI_5lL
  );
  --token-J4E--OdoHpFu: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-focus-text-color: var(
    --token-J4E--OdoHpFu
  );
  --token-D5j7D91j0pOX: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-focus-icon-color: var(
    --token-D5j7D91j0pOX
  );
  --token-E89y67Xoqm6-: var(--token-XPrLd8jgs4iF);
  --plasmic-token-button-primary-solid-focus-border-color: var(
    --token-E89y67Xoqm6-
  );
  --token-pDE39y-0utWP: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-primary-solid-default-text-color: var(
    --token-pDE39y-0utWP
  );
  --token-4Jy_xO4QVnVk: var(--token-XPrLd8jgs4iF);
  --plasmic-token-button-primary-solid-hover-border-color-2: var(
    --token-4Jy_xO4QVnVk
  );
  --token-0e_ly5PXyBa4: var(--token-9KrbJrEIw8cd);
  --plasmic-token-menu-item-text-color: var(--token-0e_ly5PXyBa4);
  --token-hLI5s7fuXjAE: var(--token-e5Wjj4oQBzAe);
  --plasmic-token-menu-item-hover-background-color: var(--token-hLI5s7fuXjAE);
  --token-k0lJscq3-yyt: var(--token-qE3WIa3mglkz);
  --plasmic-token-menu-item-on-accent-text-color: var(--token-k0lJscq3-yyt);
  --token-U9EVps8N36xm: var(--token-QylBJaWP8jFz);
  --plasmic-token-menu-item-on-accent-hover-background-color: var(
    --token-U9EVps8N36xm
  );
  --token-fTlLBQBuWUrJ: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-outline-active-background-color: var(
    --token-fTlLBQBuWUrJ
  );
  --token-f_zWmFdodVd4: var(--token-I65TQQy0p8j6);
  --plasmic-token-button-base-outline-active-border-color: var(
    --token-f_zWmFdodVd4
  );
  --token-2yElC4BZ6GhZ: var(--token-I65TQQy0p8j6);
  --plasmic-token-button-base-outline-active-icon-color: var(
    --token-2yElC4BZ6GhZ
  );
  --token-8JFMznmjIAQF: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-active-text-color: var(
    --token-8JFMznmjIAQF
  );
  --token-V23-BI4MEV2_: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-outline-default-background-color: var(
    --token-V23-BI4MEV2_
  );
  --token-_RnP6Q0Zx3Ls: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-outline-default-border-color: var(
    --token-_RnP6Q0Zx3Ls
  );
  --token-QWCPKZPv9Hfk: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-outline-default-icon-color: var(
    --token-QWCPKZPv9Hfk
  );
  --token-WbDFlREAns9z: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-outline-default-text-color: var(
    --token-WbDFlREAns9z
  );
  --token-ILHZ11uSWMW_: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-outline-focus-background-color: var(
    --token-ILHZ11uSWMW_
  );
  --token-xKJLqkRIHV7T: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-focus-border-color: var(
    --token-xKJLqkRIHV7T
  );
  --token-r60SaYlrlv2z: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-focus-icon-color: var(
    --token-r60SaYlrlv2z
  );
  --token--c21QmC8cN4L: var(--token-k3xLqgWid9RU);
  --plasmic-token-button-base-outline-focus-text-color: var(
    --token--c21QmC8cN4L
  );
  --token-G2PqSh9GZNPI: var(--token-qE3WIa3mglkz);
  --plasmic-token-button-base-outline-hover-background-color: var(
    --token-G2PqSh9GZNPI
  );
  --token-dGLcwk9Rdgfx: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-hover-border-color: var(
    --token-dGLcwk9Rdgfx
  );
  --token-sotGvvToG-2o: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-hover-icon-color: var(
    --token-sotGvvToG-2o
  );
  --token-UpRXjiDirZ2i: var(--token-4hshm6OItBjN);
  --plasmic-token-button-base-outline-hover-text-color: var(
    --token-UpRXjiDirZ2i
  );
  --token-fXhYSSnUqO8t: var(--token-Cnmzh9fpSo4p);
  --plasmic-token-button-space-between: var(--token-fXhYSSnUqO8t);
  --token-12i8pC2vckae: var(--token-LMR4pXMrDwD2);
  --plasmic-token-button-padding-x: var(--token-12i8pC2vckae);
  --token-eZcdfQmWa-Rp: var(--token-IwuO14Fl1Lup);
  --plasmic-token-button-padding-y: var(--token-eZcdfQmWa-Rp);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_themes_light),
.plasmic_default_styles:where(.global_themes_dark) {
  --mixin-ICL3Zrw80b5j_font-family: "Inter", sans-serif;
  --mixin-ICL3Zrw80b5j_font-size: 16px;
  --mixin-ICL3Zrw80b5j_font-weight: 400;
  --mixin-ICL3Zrw80b5j_font-style: normal;
  --mixin-ICL3Zrw80b5j_color: #535353;
  --mixin-ICL3Zrw80b5j_text-align: left;
  --mixin-ICL3Zrw80b5j_text-transform: none;
  --mixin-ICL3Zrw80b5j_line-height: 1.5;
  --mixin-ICL3Zrw80b5j_letter-spacing: normal;
  --mixin-ICL3Zrw80b5j_white-space: pre-wrap;
  --mixin-ICL3Zrw80b5j_user-select: text;
  --mixin-ICL3Zrw80b5j_text-decoration-line: none;
  --mixin-ICL3Zrw80b5j_text-overflow: clip;
  --mixin-aDkab3DNtvmh_color: #000000;
  --mixin-aDkab3DNtvmh_font-weight: 700;
  --mixin-aDkab3DNtvmh_font-size: 64px;
  --mixin-aDkab3DNtvmh_line-height: 1;
  --mixin-aDkab3DNtvmh_letter-spacing: -1px;
  --mixin-aDkab3DNtvmh_white-space: pre-wrap;
  --mixin-CAemm7R1MK4N_color: #000000;
  --mixin-CAemm7R1MK4N_font-size: 48px;
  --mixin-CAemm7R1MK4N_font-weight: 700;
  --mixin-CAemm7R1MK4N_letter-spacing: -0.5px;
  --mixin-CAemm7R1MK4N_line-height: 1.1;
  --mixin-CAemm7R1MK4N_white-space: pre-wrap;
  --mixin-0jIbvcYE-TVX_color: #0070f3;
  --mixin-0jIbvcYE-TVX_white-space: pre-wrap;
  --mixin-x7qm_W-EDXgK_color: #000000;
  --mixin-x7qm_W-EDXgK_font-size: 32px;
  --mixin-x7qm_W-EDXgK_font-weight: 600;
  --mixin-x7qm_W-EDXgK_line-height: 1.2;
  --mixin-x7qm_W-EDXgK_white-space: pre-wrap;
  --mixin-q4YlRbY2o6rH_color: #000000;
  --mixin-q4YlRbY2o6rH_font-size: 24px;
  --mixin-q4YlRbY2o6rH_font-weight: 600;
  --mixin-q4YlRbY2o6rH_line-height: 1.3;
  --mixin-q4YlRbY2o6rH_white-space: pre-wrap;
  --mixin-l9bL-28h1JLc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-l9bL-28h1JLc_border-bottom-color: #dddddd;
  --mixin-l9bL-28h1JLc_border-bottom-style: solid;
  --mixin-l9bL-28h1JLc_border-bottom-width: 1px;
  --mixin-l9bL-28h1JLc_border-left-color: #dddddd;
  --mixin-l9bL-28h1JLc_border-left-style: solid;
  --mixin-l9bL-28h1JLc_border-left-width: 1px;
  --mixin-l9bL-28h1JLc_border-right-color: #dddddd;
  --mixin-l9bL-28h1JLc_border-right-style: solid;
  --mixin-l9bL-28h1JLc_border-right-width: 1px;
  --mixin-l9bL-28h1JLc_border-top-color: #dddddd;
  --mixin-l9bL-28h1JLc_border-top-style: solid;
  --mixin-l9bL-28h1JLc_border-top-width: 1px;
  --mixin-l9bL-28h1JLc_border-bottom-left-radius: 3px;
  --mixin-l9bL-28h1JLc_border-bottom-right-radius: 3px;
  --mixin-l9bL-28h1JLc_border-top-left-radius: 3px;
  --mixin-l9bL-28h1JLc_border-top-right-radius: 3px;
  --mixin-l9bL-28h1JLc_font-family: "Inconsolata";
  --mixin-l9bL-28h1JLc_padding-bottom: 1px;
  --mixin-l9bL-28h1JLc_padding-left: 4px;
  --mixin-l9bL-28h1JLc_padding-right: 4px;
  --mixin-l9bL-28h1JLc_padding-top: 1px;
  --mixin-l9bL-28h1JLc_white-space: pre-wrap;
  --mixin-w8Lu61ch9KFz_border-left-color: #dddddd;
  --mixin-w8Lu61ch9KFz_border-left-style: solid;
  --mixin-w8Lu61ch9KFz_border-left-width: 3px;
  --mixin-w8Lu61ch9KFz_color: #888888;
  --mixin-w8Lu61ch9KFz_padding-left: 10px;
  --mixin-w8Lu61ch9KFz_white-space: pre-wrap;
  --mixin-pglxhlVVLfNF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pglxhlVVLfNF_border-bottom-color: #dddddd;
  --mixin-pglxhlVVLfNF_border-bottom-style: solid;
  --mixin-pglxhlVVLfNF_border-bottom-width: 1px;
  --mixin-pglxhlVVLfNF_border-left-color: #dddddd;
  --mixin-pglxhlVVLfNF_border-left-style: solid;
  --mixin-pglxhlVVLfNF_border-left-width: 1px;
  --mixin-pglxhlVVLfNF_border-right-color: #dddddd;
  --mixin-pglxhlVVLfNF_border-right-style: solid;
  --mixin-pglxhlVVLfNF_border-right-width: 1px;
  --mixin-pglxhlVVLfNF_border-top-color: #dddddd;
  --mixin-pglxhlVVLfNF_border-top-style: solid;
  --mixin-pglxhlVVLfNF_border-top-width: 1px;
  --mixin-pglxhlVVLfNF_border-bottom-left-radius: 3px;
  --mixin-pglxhlVVLfNF_border-bottom-right-radius: 3px;
  --mixin-pglxhlVVLfNF_border-top-left-radius: 3px;
  --mixin-pglxhlVVLfNF_border-top-right-radius: 3px;
  --mixin-pglxhlVVLfNF_font-family: "Inconsolata";
  --mixin-pglxhlVVLfNF_padding-bottom: 3px;
  --mixin-pglxhlVVLfNF_padding-left: 6px;
  --mixin-pglxhlVVLfNF_padding-right: 6px;
  --mixin-pglxhlVVLfNF_padding-top: 3px;
  --mixin-pglxhlVVLfNF_white-space: pre-wrap;
  --mixin-MP-VbGzoMI75_display: flex;
  --mixin-MP-VbGzoMI75_flex-direction: column;
  --mixin-MP-VbGzoMI75_align-items: stretch;
  --mixin-MP-VbGzoMI75_justify-content: flex-start;
  --mixin-MP-VbGzoMI75_list-style-position: outside;
  --mixin-MP-VbGzoMI75_padding-left: 40px;
  --mixin-MP-VbGzoMI75_position: relative;
  --mixin-MP-VbGzoMI75_list-style-type: disc;
  --mixin-MP-VbGzoMI75_white-space: pre-wrap;
  --mixin-ZPZOLKv3qFEr_display: flex;
  --mixin-ZPZOLKv3qFEr_flex-direction: column;
  --mixin-ZPZOLKv3qFEr_align-items: stretch;
  --mixin-ZPZOLKv3qFEr_justify-content: flex-start;
  --mixin-ZPZOLKv3qFEr_list-style-position: outside;
  --mixin-ZPZOLKv3qFEr_padding-left: 40px;
  --mixin-ZPZOLKv3qFEr_position: relative;
  --mixin-ZPZOLKv3qFEr_list-style-type: decimal;
  --mixin-ZPZOLKv3qFEr_white-space: pre-wrap;
  --mixin-yepzWhHQz3PM_color: #000000;
  --mixin-yepzWhHQz3PM_font-size: 20px;
  --mixin-yepzWhHQz3PM_font-weight: 600;
  --mixin-yepzWhHQz3PM_line-height: 1.5;
  --mixin-yepzWhHQz3PM_white-space: pre-wrap;
  --mixin-toHb3J63eon8_color: #000000;
  --mixin-toHb3J63eon8_font-size: 16px;
  --mixin-toHb3J63eon8_font-weight: 600;
  --mixin-toHb3J63eon8_line-height: 1.5;
  --mixin-toHb3J63eon8_white-space: pre-wrap;
  --mixin-CsJNBl7XwURQ_color: #3291ff;
  --mixin-CsJNBl7XwURQ_white-space: pre-wrap;
  --mixin-5YxBLgFb9ibv_white-space: pre-wrap;
  --mixin-zPJ61yBx17u8_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_themes_light),
.plasmic_mixins:where(.global_themes_dark) {
  --mixin-lqpo0bV2zR0E_white-space: pre-wrap;
  --plasmic-mixin-button-primary-border-width_white-space: var(
    --mixin-lqpo0bV2zR0E_white-space
  );
  --mixin-9cwThVqdpqfl_white-space: pre-wrap;
  --plasmic-mixin-button-secondary-border-width_white-space: var(
    --mixin-9cwThVqdpqfl_white-space
  );
  --mixin-iYsAo9xH6jkJ_white-space: pre-wrap;
  --plasmic-mixin-button-border-radius_white-space: var(
    --mixin-iYsAo9xH6jkJ_white-space
  );
  --mixin-9DavZZVeYV56_white-space: pre-wrap;
  --plasmic-mixin-list-item-default-label_white-space: var(
    --mixin-9DavZZVeYV56_white-space
  );
  --mixin-hZnDSSWXMu7R_white-space: pre-wrap;
  --plasmic-mixin-list-item-featured-label_white-space: var(
    --mixin-hZnDSSWXMu7R_white-space
  );
  --mixin-660zG1DEduL9_white-space: pre-wrap;
  --plasmic-mixin-button-space-between_white-space: var(
    --mixin-660zG1DEduL9_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ICL3Zrw80b5j_font-family);
  font-size: var(--mixin-ICL3Zrw80b5j_font-size);
  font-weight: var(--mixin-ICL3Zrw80b5j_font-weight);
  font-style: var(--mixin-ICL3Zrw80b5j_font-style);
  color: var(--mixin-ICL3Zrw80b5j_color);
  text-align: var(--mixin-ICL3Zrw80b5j_text-align);
  text-transform: var(--mixin-ICL3Zrw80b5j_text-transform);
  line-height: var(--mixin-ICL3Zrw80b5j_line-height);
  letter-spacing: var(--mixin-ICL3Zrw80b5j_letter-spacing);
  white-space: var(--mixin-ICL3Zrw80b5j_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-aDkab3DNtvmh_color);
  font-weight: var(--mixin-aDkab3DNtvmh_font-weight);
  font-size: var(--mixin-aDkab3DNtvmh_font-size);
  line-height: var(--mixin-aDkab3DNtvmh_line-height);
  letter-spacing: var(--mixin-aDkab3DNtvmh_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CAemm7R1MK4N_color);
  font-size: var(--mixin-CAemm7R1MK4N_font-size);
  font-weight: var(--mixin-CAemm7R1MK4N_font-weight);
  letter-spacing: var(--mixin-CAemm7R1MK4N_letter-spacing);
  line-height: var(--mixin-CAemm7R1MK4N_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-0jIbvcYE-TVX_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-x7qm_W-EDXgK_color);
  font-size: var(--mixin-x7qm_W-EDXgK_font-size);
  font-weight: var(--mixin-x7qm_W-EDXgK_font-weight);
  line-height: var(--mixin-x7qm_W-EDXgK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-q4YlRbY2o6rH_color);
  font-size: var(--mixin-q4YlRbY2o6rH_font-size);
  font-weight: var(--mixin-q4YlRbY2o6rH_font-weight);
  line-height: var(--mixin-q4YlRbY2o6rH_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-l9bL-28h1JLc_font-family);
  border-radius: var(--mixin-l9bL-28h1JLc_border-top-left-radius)
    var(--mixin-l9bL-28h1JLc_border-top-right-radius)
    var(--mixin-l9bL-28h1JLc_border-bottom-right-radius)
    var(--mixin-l9bL-28h1JLc_border-bottom-left-radius);
  padding: var(--mixin-l9bL-28h1JLc_padding-top)
    var(--mixin-l9bL-28h1JLc_padding-right)
    var(--mixin-l9bL-28h1JLc_padding-bottom)
    var(--mixin-l9bL-28h1JLc_padding-left);
  border-top: var(--mixin-l9bL-28h1JLc_border-top-width)
    var(--mixin-l9bL-28h1JLc_border-top-style)
    var(--mixin-l9bL-28h1JLc_border-top-color);
  border-right: var(--mixin-l9bL-28h1JLc_border-right-width)
    var(--mixin-l9bL-28h1JLc_border-right-style)
    var(--mixin-l9bL-28h1JLc_border-right-color);
  border-bottom: var(--mixin-l9bL-28h1JLc_border-bottom-width)
    var(--mixin-l9bL-28h1JLc_border-bottom-style)
    var(--mixin-l9bL-28h1JLc_border-bottom-color);
  border-left: var(--mixin-l9bL-28h1JLc_border-left-width)
    var(--mixin-l9bL-28h1JLc_border-left-style)
    var(--mixin-l9bL-28h1JLc_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-w8Lu61ch9KFz_color);
  padding-left: var(--mixin-w8Lu61ch9KFz_padding-left);
  border-left: var(--mixin-w8Lu61ch9KFz_border-left-width)
    var(--mixin-w8Lu61ch9KFz_border-left-style)
    var(--mixin-w8Lu61ch9KFz_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pglxhlVVLfNF_font-family);
  border-radius: var(--mixin-pglxhlVVLfNF_border-top-left-radius)
    var(--mixin-pglxhlVVLfNF_border-top-right-radius)
    var(--mixin-pglxhlVVLfNF_border-bottom-right-radius)
    var(--mixin-pglxhlVVLfNF_border-bottom-left-radius);
  padding: var(--mixin-pglxhlVVLfNF_padding-top)
    var(--mixin-pglxhlVVLfNF_padding-right)
    var(--mixin-pglxhlVVLfNF_padding-bottom)
    var(--mixin-pglxhlVVLfNF_padding-left);
  border-top: var(--mixin-pglxhlVVLfNF_border-top-width)
    var(--mixin-pglxhlVVLfNF_border-top-style)
    var(--mixin-pglxhlVVLfNF_border-top-color);
  border-right: var(--mixin-pglxhlVVLfNF_border-right-width)
    var(--mixin-pglxhlVVLfNF_border-right-style)
    var(--mixin-pglxhlVVLfNF_border-right-color);
  border-bottom: var(--mixin-pglxhlVVLfNF_border-bottom-width)
    var(--mixin-pglxhlVVLfNF_border-bottom-style)
    var(--mixin-pglxhlVVLfNF_border-bottom-color);
  border-left: var(--mixin-pglxhlVVLfNF_border-left-width)
    var(--mixin-pglxhlVVLfNF_border-left-style)
    var(--mixin-pglxhlVVLfNF_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MP-VbGzoMI75_display);
  flex-direction: var(--mixin-MP-VbGzoMI75_flex-direction);
  align-items: var(--mixin-MP-VbGzoMI75_align-items);
  justify-content: var(--mixin-MP-VbGzoMI75_justify-content);
  list-style-position: var(--mixin-MP-VbGzoMI75_list-style-position);
  padding-left: var(--mixin-MP-VbGzoMI75_padding-left);
  position: var(--mixin-MP-VbGzoMI75_position);
  list-style-type: var(--mixin-MP-VbGzoMI75_list-style-type);
  flex-column-gap: var(--mixin-MP-VbGzoMI75_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ZPZOLKv3qFEr_display);
  flex-direction: var(--mixin-ZPZOLKv3qFEr_flex-direction);
  align-items: var(--mixin-ZPZOLKv3qFEr_align-items);
  justify-content: var(--mixin-ZPZOLKv3qFEr_justify-content);
  list-style-position: var(--mixin-ZPZOLKv3qFEr_list-style-position);
  padding-left: var(--mixin-ZPZOLKv3qFEr_padding-left);
  position: var(--mixin-ZPZOLKv3qFEr_position);
  list-style-type: var(--mixin-ZPZOLKv3qFEr_list-style-type);
  flex-column-gap: var(--mixin-ZPZOLKv3qFEr_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-yepzWhHQz3PM_color);
  font-size: var(--mixin-yepzWhHQz3PM_font-size);
  font-weight: var(--mixin-yepzWhHQz3PM_font-weight);
  line-height: var(--mixin-yepzWhHQz3PM_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-toHb3J63eon8_color);
  font-size: var(--mixin-toHb3J63eon8_font-size);
  font-weight: var(--mixin-toHb3J63eon8_font-weight);
  line-height: var(--mixin-toHb3J63eon8_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CsJNBl7XwURQ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
