@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-s-4c1B5PtxzH: var(--token-RBhRbJtWG5jK);
  --plasmic-token-section-nav-container-background-color: var(
    --token-s-4c1B5PtxzH
  );
  --token-mSKFmfVcHj0d: var(--token-ct2TT5I16S8N);
  --plasmic-token-section-nav-padding-x: var(--token-mSKFmfVcHj0d);
  --token-uTKWSapa2H_T: var(--token-ct2TT5I16S8N);
  --plasmic-token-section-nav-padding-y: var(--token-uTKWSapa2H_T);
  --token-dhFzfESP-Lx1: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-nav-action-space-between: var(--token-dhFzfESP-Lx1);
  --token-yLBZCkho4_jv: var(--token-dQ8kEuxVvcA-);
  --plasmic-token-section-nav-logo-menu-space-between: var(
    --token-yLBZCkho4_jv
  );
  --token-czGru-njjwWS: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-nav-logo-text-color: var(--token-czGru-njjwWS);
  --token-MKEC5w8ewdCR: var(--token-GrDGOqCbVvJk);
  --plasmic-token-section-nav-logo-text-size: var(--token-MKEC5w8ewdCR);
  --token-YK7DBQl-jKGm: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-nav-logo-icon-color: var(--token-YK7DBQl-jKGm);
  --token-Nz1bhdgsb84s: var(--token-7iVMh5joLdmS);
  --plasmic-token-section-nav-logo-icon-size: var(--token-Nz1bhdgsb84s);
  --token-7H9olLurNQ8g: var(--token-Cnmzh9fpSo4p);
  --plasmic-token-section-nav-logo-space-between: var(--token-7H9olLurNQ8g);
  --token-3llFGZrB7b2l: var(--token-b4Q2BZW0I-nC);
  --plasmic-token-section-hero-container-overlay: var(--token-3llFGZrB7b2l);
  --token-2rHBIuvoF16k: var(--token-pmbVX5pnjiUY);
  --plasmic-token-section-hero-padding-y: var(--token-2rHBIuvoF16k);
  --token-XiYDSEpi42vd: var(--token-mBa8rtpd9VwB);
  --plasmic-token-section-hero-padding-x: var(--token-XiYDSEpi42vd);
  --token-qXi8okpnjkC1: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-hero-headline-color: var(--token-qXi8okpnjkC1);
  --token-6Zd8_iV3JMlL: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-hero-body-color: var(--token-6Zd8_iV3JMlL);
  --token-ckqkDL03tgfW: var(--token-PRBN4Y2Sjf_V);
  --plasmic-token-section-hero-body-space-between: var(--token-ckqkDL03tgfW);
  --token-cMrrbVABr0eM: var(--token-4hBA6XlxJwet);
  --plasmic-token-section-hero-content-space-between: var(--token-cMrrbVABr0eM);
  --token-lAkMM55FdA40: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-hero-actions-space-between: var(--token-lAkMM55FdA40);
  --token-iFBadYSxz9WB: var(--token-lkdCQxFqq1Sm);
  --plasmic-token-section-hero-image-size-2: var(--token-iFBadYSxz9WB);
  --token-Z4CGAHFVxDa0: 1;
  --plasmic-token-section-hero-opacity-image: var(--token-Z4CGAHFVxDa0);
  --token-gGKU0nlBtISI: var(--token-RBhRbJtWG5jK);
  --plasmic-token-section-features-container-overlay: var(--token-gGKU0nlBtISI);
  --token-yzHhLreOkPH0: var(--token-mBa8rtpd9VwB);
  --plasmic-token-section-features-padding-x: var(--token-yzHhLreOkPH0);
  --token-At2uaeC5suW5: var(--token-rrYLCEAbHg4E);
  --plasmic-token-section-features-padding-y: var(--token-At2uaeC5suW5);
  --token-jPDI4LEH1176: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-features-kicker-color: var(--token-jPDI4LEH1176);
  --token-X30TWX7dn1jw: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-features-headline-color: var(--token-X30TWX7dn1jw);
  --token-ZOEYWG1W7WeV: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-features-body-color: var(--token-ZOEYWG1W7WeV);
  --token-ZhX0kh7DjzEH: var(--token-9KB0aafanGaO);
  --plasmic-token-section-features-feature-text-color: var(
    --token-ZhX0kh7DjzEH
  );
  --token-RAD_XLqE9itS: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-features-feature-heading-color: var(
    --token-RAD_XLqE9itS
  );
  --token-6c5TxcfUsys4: var(--token-Y0k34pPINYxs);
  --plasmic-token-section-features-space-between: var(--token-6c5TxcfUsys4);
  --token-OBl374N0aYrx: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-features-heading-block-space-between: var(
    --token-OBl374N0aYrx
  );
  --token-7v3CHdSHNFVu: var(--token-K82P8LyGKs3-);
  --plasmic-token-section-features-heading-space-between: var(
    --token-7v3CHdSHNFVu
  );
  --token-ArddwPG_J8-Q: var(--token-P5aX1KLqXkqQ);
  --plasmic-token-section-features-block-space-between: var(
    --token-ArddwPG_J8-Q
  );
  --token-WpYnrN_qvq0I: var(--token-P5aX1KLqXkqQ);
  --plasmic-token-section-features-row-space-between: var(--token-WpYnrN_qvq0I);
  --token-_2HDMnPtARWb: var(--token-e5Wjj4oQBzAe);
  --plasmic-token-section-team-container-overlay: var(--token-_2HDMnPtARWb);
  --token-zhyQmktbmxXO: var(--token-mBa8rtpd9VwB);
  --plasmic-token-section-team-padding-x: var(--token-zhyQmktbmxXO);
  --token-fQom0GQieuR2: var(--token-kAKn4VjNfMhR);
  --plasmic-token-section-team-padding-y: var(--token-fQom0GQieuR2);
  --token-NFbQOfQAu2hz: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-team-kicker-color: var(--token-NFbQOfQAu2hz);
  --token-UAQp5FOpTXde: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-team-headline-color: var(--token-UAQp5FOpTXde);
  --token-b_wxrXOjN7Aq: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-team-body-color: var(--token-b_wxrXOjN7Aq);
  --token-GUIh1r3g7g-q: var(--token-Y0k34pPINYxs);
  --plasmic-token-section-team-space-between: var(--token-GUIh1r3g7g-q);
  --token-slZDLpf0hCwA: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-team-heading-block-space-between: var(
    --token-slZDLpf0hCwA
  );
  --token-JNL3madB73D2: var(--token-K82P8LyGKs3-);
  --plasmic-token-section-team-heading-space-between: var(--token-JNL3madB73D2);
  --token-adLMaeyFGX6I: var(--token-P5aX1KLqXkqQ);
  --plasmic-token-section-team-block-space-between: var(--token-adLMaeyFGX6I);
  --token-CHegJ4CNyvFk: var(--token-lfNIkJu2VcbG);
  --plasmic-token-section-team-row-space-between: var(--token-CHegJ4CNyvFk);
  --token-7Gi-Bl1E3Rsg: var(--token-RBhRbJtWG5jK);
  --plasmic-token-section-pricing-container-overlay: var(--token-7Gi-Bl1E3Rsg);
  --token-O2J0ALpZRNm4: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-pricing-kicker-color: var(--token-O2J0ALpZRNm4);
  --token-xEdj8R0Ej77F: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-pricing-headline-color: var(--token-xEdj8R0Ej77F);
  --token-ESDhEOgRcuCm: var(--token-9KrbJrEIw8cd);
  --plasmic-token-section-pricing-body-color: var(--token-ESDhEOgRcuCm);
  --token-oTQuoSiE7Lt1: var(--token-KqR_M-7twSBJ);
  --plasmic-token-section-pricing-label-color: var(--token-oTQuoSiE7Lt1);
  --token-zIs8Ce3x6amR: var(--token-k3xLqgWid9RU);
  --plasmic-token-section-pricing-icon-color: var(--token-zIs8Ce3x6amR);
  --token-v1Y7PBYwPBGA: var(--token-mBa8rtpd9VwB);
  --plasmic-token-section-pricing-padding-x: var(--token-v1Y7PBYwPBGA);
  --token-lhXno7Mk795w: var(--token-GOrbF6CfvRij);
  --plasmic-token-section-pricing-padding-y: var(--token-lhXno7Mk795w);
  --token-EoQoHnqC133r: var(--token-P5aX1KLqXkqQ);
  --plasmic-token-section-pricing-space-between: var(--token-EoQoHnqC133r);
  --token-Ic4isvPunKKc: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-pricing-heading-block-space-between: var(
    --token-Ic4isvPunKKc
  );
  --token-zYdFjhgh74Ho: var(--token-K82P8LyGKs3-);
  --plasmic-token-section-pricing-heading-space-between: var(
    --token-zYdFjhgh74Ho
  );
  --token-56M5vPabrh4L: var(--token-PRBN4Y2Sjf_V);
  --plasmic-token-section-pricing-block-space-between: var(
    --token-56M5vPabrh4L
  );
  --token-RLrr_xMb7_UF: var(--token-I65TQQy0p8j6);
  --plasmic-token-section-footer-container-overlay: var(--token-RLrr_xMb7_UF);
  --token-ITbApknlW6y7: var(--token-k3xLqgWid9RU);
  --plasmic-token-section-footer-divider-color: var(--token-ITbApknlW6y7);
  --token-5feVTL0TEPdp: var(--token-qE3WIa3mglkz);
  --plasmic-token-section-footer-body-color: var(--token-5feVTL0TEPdp);
  --token-cvi5tUmuJC_Q: var(--token-qE3WIa3mglkz);
  --plasmic-token-section-footer-logo-color: var(--token-cvi5tUmuJC_Q);
  --token-jsLgRuFxIrXM: var(--token-mBa8rtpd9VwB);
  --plasmic-token-section-footer-padding-x: var(--token-jsLgRuFxIrXM);
  --token-OU_ATL-yFDpE: var(--token-vwsEOfoYvk4C);
  --plasmic-token-section-footer-padding-y: var(--token-OU_ATL-yFDpE);
  --token-efdIPpPYLj_y: var(--token-DRASwRiNaSKm);
  --plasmic-token-section-footer-space-between: var(--token-efdIPpPYLj_y);
  --token-5REygmnAaxhC: var(--token-RBhRbJtWG5jK);
  --plasmic-token-section-footer-logo-text-color: var(--token-5REygmnAaxhC);
  --token-CWThUNvK7f_7: var(--token-HRSbTGFTSZwr);
  --plasmic-token-section-footer-logo-text-size: var(--token-CWThUNvK7f_7);
  --token-Wb6Xb9-7yN0F: var(--token-RBhRbJtWG5jK);
  --plasmic-token-section-footer-logo-icon-color: var(--token-Wb6Xb9-7yN0F);
  --token-DVeJFykkjjTK: var(--token-nDaPgm6m1PVU);
  --plasmic-token-section-footer-logo-icon-size: var(--token-DVeJFykkjjTK);
  --token-dYFDd_DiWSPr: var(--token-Cnmzh9fpSo4p);
  --plasmic-token-section-footer-logo-space-between: var(--token-dYFDd_DiWSPr);
  --token-76aRTpqMouZQ: #64748b;
  --plasmic-token-button-base-default-border-color: var(--token-76aRTpqMouZQ);
  --token-gTcMPmItJCY9: #f9fafb;
  --plasmic-token-menu-item-hover-background-color: var(--token-gTcMPmItJCY9);
  --token-K08iVPDPMDe-: #94a3b8;
  --plasmic-token-button-base-hover-border-color: var(--token-K08iVPDPMDe-);
  --token-K1OBz3es4fQ8: #1212124d;
  --plasmic-token-menu-item-on-accent-hover-background-color: var(
    --token-K1OBz3es4fQ8
  );
  --token-3AaJvPDF95Jg: #ffffff;
  --plasmic-token-button-base-active-icon-color: var(--token-3AaJvPDF95Jg);
  --token-ZZ1cGeov2Mma: #ffffff;
  --plasmic-token-button-base-hover-icon-color: var(--token-ZZ1cGeov2Mma);
  --token-DDrKyWFf0vi1: #6b7280;
  --plasmic-token-menu-item-text-color: var(--token-DDrKyWFf0vi1);
  --token-4X-HaueCgERT: #ffffff;
  --plasmic-token-menu-item-on-accent-text-color: var(--token-4X-HaueCgERT);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cB7xNbfsVe-9_font-family: "Inter", sans-serif;
  --mixin-cB7xNbfsVe-9_font-size: 16px;
  --mixin-cB7xNbfsVe-9_font-weight: 400;
  --mixin-cB7xNbfsVe-9_font-style: normal;
  --mixin-cB7xNbfsVe-9_color: #535353;
  --mixin-cB7xNbfsVe-9_text-align: left;
  --mixin-cB7xNbfsVe-9_text-transform: none;
  --mixin-cB7xNbfsVe-9_line-height: 1.5;
  --mixin-cB7xNbfsVe-9_letter-spacing: normal;
  --mixin-cB7xNbfsVe-9_white-space: pre-wrap;
  --mixin-cB7xNbfsVe-9_user-select: text;
  --mixin-cB7xNbfsVe-9_text-decoration-line: none;
  --mixin-cB7xNbfsVe-9_text-overflow: clip;
  --mixin-RN0uqgIAhEaQ_color: #000000;
  --mixin-RN0uqgIAhEaQ_font-weight: 700;
  --mixin-RN0uqgIAhEaQ_font-size: 64px;
  --mixin-RN0uqgIAhEaQ_line-height: 1;
  --mixin-RN0uqgIAhEaQ_letter-spacing: -1px;
  --mixin-RN0uqgIAhEaQ_white-space: pre-wrap;
  --mixin-MprFGew3vCe__color: #000000;
  --mixin-MprFGew3vCe__font-size: 48px;
  --mixin-MprFGew3vCe__font-weight: 700;
  --mixin-MprFGew3vCe__letter-spacing: -0.5px;
  --mixin-MprFGew3vCe__line-height: 1.1;
  --mixin-MprFGew3vCe__white-space: pre-wrap;
  --mixin-KveETsOp984Q_color: #0070f3;
  --mixin-KveETsOp984Q_white-space: pre-wrap;
  --mixin-cahnM46P-JAo_color: #000000;
  --mixin-cahnM46P-JAo_font-size: 32px;
  --mixin-cahnM46P-JAo_font-weight: 600;
  --mixin-cahnM46P-JAo_line-height: 1.2;
  --mixin-cahnM46P-JAo_white-space: pre-wrap;
  --mixin-wdxez17dXAgz_color: #000000;
  --mixin-wdxez17dXAgz_font-size: 24px;
  --mixin-wdxez17dXAgz_font-weight: 600;
  --mixin-wdxez17dXAgz_line-height: 1.3;
  --mixin-wdxez17dXAgz_white-space: pre-wrap;
  --mixin-bDdmVXSK8gtS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-bDdmVXSK8gtS_border-bottom-color: #dddddd;
  --mixin-bDdmVXSK8gtS_border-bottom-style: solid;
  --mixin-bDdmVXSK8gtS_border-bottom-width: 1px;
  --mixin-bDdmVXSK8gtS_border-left-color: #dddddd;
  --mixin-bDdmVXSK8gtS_border-left-style: solid;
  --mixin-bDdmVXSK8gtS_border-left-width: 1px;
  --mixin-bDdmVXSK8gtS_border-right-color: #dddddd;
  --mixin-bDdmVXSK8gtS_border-right-style: solid;
  --mixin-bDdmVXSK8gtS_border-right-width: 1px;
  --mixin-bDdmVXSK8gtS_border-top-color: #dddddd;
  --mixin-bDdmVXSK8gtS_border-top-style: solid;
  --mixin-bDdmVXSK8gtS_border-top-width: 1px;
  --mixin-bDdmVXSK8gtS_border-bottom-left-radius: 3px;
  --mixin-bDdmVXSK8gtS_border-bottom-right-radius: 3px;
  --mixin-bDdmVXSK8gtS_border-top-left-radius: 3px;
  --mixin-bDdmVXSK8gtS_border-top-right-radius: 3px;
  --mixin-bDdmVXSK8gtS_font-family: "Inconsolata";
  --mixin-bDdmVXSK8gtS_padding-bottom: 1px;
  --mixin-bDdmVXSK8gtS_padding-left: 4px;
  --mixin-bDdmVXSK8gtS_padding-right: 4px;
  --mixin-bDdmVXSK8gtS_padding-top: 1px;
  --mixin-bDdmVXSK8gtS_white-space: pre-wrap;
  --mixin-aP2Azr3kUANS_border-left-color: #dddddd;
  --mixin-aP2Azr3kUANS_border-left-style: solid;
  --mixin-aP2Azr3kUANS_border-left-width: 3px;
  --mixin-aP2Azr3kUANS_color: #888888;
  --mixin-aP2Azr3kUANS_padding-left: 10px;
  --mixin-aP2Azr3kUANS_white-space: pre-wrap;
  --mixin-Hd2Z8Q8RAxbR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Hd2Z8Q8RAxbR_border-bottom-color: #dddddd;
  --mixin-Hd2Z8Q8RAxbR_border-bottom-style: solid;
  --mixin-Hd2Z8Q8RAxbR_border-bottom-width: 1px;
  --mixin-Hd2Z8Q8RAxbR_border-left-color: #dddddd;
  --mixin-Hd2Z8Q8RAxbR_border-left-style: solid;
  --mixin-Hd2Z8Q8RAxbR_border-left-width: 1px;
  --mixin-Hd2Z8Q8RAxbR_border-right-color: #dddddd;
  --mixin-Hd2Z8Q8RAxbR_border-right-style: solid;
  --mixin-Hd2Z8Q8RAxbR_border-right-width: 1px;
  --mixin-Hd2Z8Q8RAxbR_border-top-color: #dddddd;
  --mixin-Hd2Z8Q8RAxbR_border-top-style: solid;
  --mixin-Hd2Z8Q8RAxbR_border-top-width: 1px;
  --mixin-Hd2Z8Q8RAxbR_border-bottom-left-radius: 3px;
  --mixin-Hd2Z8Q8RAxbR_border-bottom-right-radius: 3px;
  --mixin-Hd2Z8Q8RAxbR_border-top-left-radius: 3px;
  --mixin-Hd2Z8Q8RAxbR_border-top-right-radius: 3px;
  --mixin-Hd2Z8Q8RAxbR_font-family: "Inconsolata";
  --mixin-Hd2Z8Q8RAxbR_padding-bottom: 3px;
  --mixin-Hd2Z8Q8RAxbR_padding-left: 6px;
  --mixin-Hd2Z8Q8RAxbR_padding-right: 6px;
  --mixin-Hd2Z8Q8RAxbR_padding-top: 3px;
  --mixin-Hd2Z8Q8RAxbR_white-space: pre-wrap;
  --mixin-wcRsxByY4rr-_display: flex;
  --mixin-wcRsxByY4rr-_flex-direction: column;
  --mixin-wcRsxByY4rr-_align-items: stretch;
  --mixin-wcRsxByY4rr-_justify-content: flex-start;
  --mixin-wcRsxByY4rr-_list-style-position: outside;
  --mixin-wcRsxByY4rr-_padding-left: 40px;
  --mixin-wcRsxByY4rr-_position: relative;
  --mixin-wcRsxByY4rr-_list-style-type: disc;
  --mixin-wcRsxByY4rr-_white-space: pre-wrap;
  --mixin-vl-sY3iRbIbA_display: flex;
  --mixin-vl-sY3iRbIbA_flex-direction: column;
  --mixin-vl-sY3iRbIbA_align-items: stretch;
  --mixin-vl-sY3iRbIbA_justify-content: flex-start;
  --mixin-vl-sY3iRbIbA_list-style-position: outside;
  --mixin-vl-sY3iRbIbA_padding-left: 40px;
  --mixin-vl-sY3iRbIbA_position: relative;
  --mixin-vl-sY3iRbIbA_list-style-type: decimal;
  --mixin-vl-sY3iRbIbA_white-space: pre-wrap;
  --mixin-506yrnt53pdu_color: #000000;
  --mixin-506yrnt53pdu_font-size: 20px;
  --mixin-506yrnt53pdu_font-weight: 600;
  --mixin-506yrnt53pdu_line-height: 1.5;
  --mixin-506yrnt53pdu_white-space: pre-wrap;
  --mixin-hL4GnKlWppJt_color: #000000;
  --mixin-hL4GnKlWppJt_font-size: 16px;
  --mixin-hL4GnKlWppJt_font-weight: 600;
  --mixin-hL4GnKlWppJt_line-height: 1.5;
  --mixin-hL4GnKlWppJt_white-space: pre-wrap;
  --mixin-Gf-GnKO3iGQ__color: #3291ff;
  --mixin-Gf-GnKO3iGQ__white-space: pre-wrap;
  --mixin-w9Vd-eYhKfXS_white-space: pre-wrap;
  --mixin-o4rnrK1vuNe7_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cB7xNbfsVe-9_font-family);
  font-size: var(--mixin-cB7xNbfsVe-9_font-size);
  font-weight: var(--mixin-cB7xNbfsVe-9_font-weight);
  font-style: var(--mixin-cB7xNbfsVe-9_font-style);
  color: var(--mixin-cB7xNbfsVe-9_color);
  text-align: var(--mixin-cB7xNbfsVe-9_text-align);
  text-transform: var(--mixin-cB7xNbfsVe-9_text-transform);
  line-height: var(--mixin-cB7xNbfsVe-9_line-height);
  letter-spacing: var(--mixin-cB7xNbfsVe-9_letter-spacing);
  white-space: var(--mixin-cB7xNbfsVe-9_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-RN0uqgIAhEaQ_color);
  font-weight: var(--mixin-RN0uqgIAhEaQ_font-weight);
  font-size: var(--mixin-RN0uqgIAhEaQ_font-size);
  line-height: var(--mixin-RN0uqgIAhEaQ_line-height);
  letter-spacing: var(--mixin-RN0uqgIAhEaQ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-MprFGew3vCe__color);
  font-size: var(--mixin-MprFGew3vCe__font-size);
  font-weight: var(--mixin-MprFGew3vCe__font-weight);
  letter-spacing: var(--mixin-MprFGew3vCe__letter-spacing);
  line-height: var(--mixin-MprFGew3vCe__line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-KveETsOp984Q_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-cahnM46P-JAo_color);
  font-size: var(--mixin-cahnM46P-JAo_font-size);
  font-weight: var(--mixin-cahnM46P-JAo_font-weight);
  line-height: var(--mixin-cahnM46P-JAo_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-wdxez17dXAgz_color);
  font-size: var(--mixin-wdxez17dXAgz_font-size);
  font-weight: var(--mixin-wdxez17dXAgz_font-weight);
  line-height: var(--mixin-wdxez17dXAgz_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-bDdmVXSK8gtS_font-family);
  border-radius: var(--mixin-bDdmVXSK8gtS_border-top-left-radius)
    var(--mixin-bDdmVXSK8gtS_border-top-right-radius)
    var(--mixin-bDdmVXSK8gtS_border-bottom-right-radius)
    var(--mixin-bDdmVXSK8gtS_border-bottom-left-radius);
  padding: var(--mixin-bDdmVXSK8gtS_padding-top)
    var(--mixin-bDdmVXSK8gtS_padding-right)
    var(--mixin-bDdmVXSK8gtS_padding-bottom)
    var(--mixin-bDdmVXSK8gtS_padding-left);
  border-top: var(--mixin-bDdmVXSK8gtS_border-top-width)
    var(--mixin-bDdmVXSK8gtS_border-top-style)
    var(--mixin-bDdmVXSK8gtS_border-top-color);
  border-right: var(--mixin-bDdmVXSK8gtS_border-right-width)
    var(--mixin-bDdmVXSK8gtS_border-right-style)
    var(--mixin-bDdmVXSK8gtS_border-right-color);
  border-bottom: var(--mixin-bDdmVXSK8gtS_border-bottom-width)
    var(--mixin-bDdmVXSK8gtS_border-bottom-style)
    var(--mixin-bDdmVXSK8gtS_border-bottom-color);
  border-left: var(--mixin-bDdmVXSK8gtS_border-left-width)
    var(--mixin-bDdmVXSK8gtS_border-left-style)
    var(--mixin-bDdmVXSK8gtS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-aP2Azr3kUANS_color);
  padding-left: var(--mixin-aP2Azr3kUANS_padding-left);
  border-left: var(--mixin-aP2Azr3kUANS_border-left-width)
    var(--mixin-aP2Azr3kUANS_border-left-style)
    var(--mixin-aP2Azr3kUANS_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Hd2Z8Q8RAxbR_font-family);
  border-radius: var(--mixin-Hd2Z8Q8RAxbR_border-top-left-radius)
    var(--mixin-Hd2Z8Q8RAxbR_border-top-right-radius)
    var(--mixin-Hd2Z8Q8RAxbR_border-bottom-right-radius)
    var(--mixin-Hd2Z8Q8RAxbR_border-bottom-left-radius);
  padding: var(--mixin-Hd2Z8Q8RAxbR_padding-top)
    var(--mixin-Hd2Z8Q8RAxbR_padding-right)
    var(--mixin-Hd2Z8Q8RAxbR_padding-bottom)
    var(--mixin-Hd2Z8Q8RAxbR_padding-left);
  border-top: var(--mixin-Hd2Z8Q8RAxbR_border-top-width)
    var(--mixin-Hd2Z8Q8RAxbR_border-top-style)
    var(--mixin-Hd2Z8Q8RAxbR_border-top-color);
  border-right: var(--mixin-Hd2Z8Q8RAxbR_border-right-width)
    var(--mixin-Hd2Z8Q8RAxbR_border-right-style)
    var(--mixin-Hd2Z8Q8RAxbR_border-right-color);
  border-bottom: var(--mixin-Hd2Z8Q8RAxbR_border-bottom-width)
    var(--mixin-Hd2Z8Q8RAxbR_border-bottom-style)
    var(--mixin-Hd2Z8Q8RAxbR_border-bottom-color);
  border-left: var(--mixin-Hd2Z8Q8RAxbR_border-left-width)
    var(--mixin-Hd2Z8Q8RAxbR_border-left-style)
    var(--mixin-Hd2Z8Q8RAxbR_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wcRsxByY4rr-_display);
  flex-direction: var(--mixin-wcRsxByY4rr-_flex-direction);
  align-items: var(--mixin-wcRsxByY4rr-_align-items);
  justify-content: var(--mixin-wcRsxByY4rr-_justify-content);
  list-style-position: var(--mixin-wcRsxByY4rr-_list-style-position);
  padding-left: var(--mixin-wcRsxByY4rr-_padding-left);
  position: var(--mixin-wcRsxByY4rr-_position);
  list-style-type: var(--mixin-wcRsxByY4rr-_list-style-type);
  flex-column-gap: var(--mixin-wcRsxByY4rr-_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vl-sY3iRbIbA_display);
  flex-direction: var(--mixin-vl-sY3iRbIbA_flex-direction);
  align-items: var(--mixin-vl-sY3iRbIbA_align-items);
  justify-content: var(--mixin-vl-sY3iRbIbA_justify-content);
  list-style-position: var(--mixin-vl-sY3iRbIbA_list-style-position);
  padding-left: var(--mixin-vl-sY3iRbIbA_padding-left);
  position: var(--mixin-vl-sY3iRbIbA_position);
  list-style-type: var(--mixin-vl-sY3iRbIbA_list-style-type);
  flex-column-gap: var(--mixin-vl-sY3iRbIbA_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-506yrnt53pdu_color);
  font-size: var(--mixin-506yrnt53pdu_font-size);
  font-weight: var(--mixin-506yrnt53pdu_font-weight);
  line-height: var(--mixin-506yrnt53pdu_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-hL4GnKlWppJt_color);
  font-size: var(--mixin-hL4GnKlWppJt_font-size);
  font-weight: var(--mixin-hL4GnKlWppJt_font-weight);
  line-height: var(--mixin-hL4GnKlWppJt_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Gf-GnKO3iGQ__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
